html, body {
  height: 100%;
  background: #f0f0e9 url("../img/bg.png") repeat;
  background-attachment: fixed;
}
body {
  color: #333333;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
  font-size: 90%;
  border-top: 10px solid #363630;
}
a {
  text-decoration: none;
  color: #09735e;
}
#page {
  width: 920px;
  min-height: 100%;
  margin: 0 auto;
  background: url("../img/content-bg.png") repeat-y;
  background-position: 184px 0;
}
#header { padding: 50px 0 80px 244px; }
#header h1 {
  font-size: 275%;
  font-family: Georgia, "Times New Roman";
  letter-spacing: -0.02em;
  color: #09735e;
}
#header h2 {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: -0.02em;
}
#nav {
  float: left;
  width: 167px;
  text-align: right;
  margin-right: 17px;
  position: relative;
}
#nav ul {
  position: absolute;
  top: 0px;
  right: 0;
}
#nav li a {
  font-size: 90%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  padding: 8px 0px;
  color: rgba(0, 0, 0, 0.4);
}
#nav li a:hover {
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.75);
}
#nav li.active a {
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.75);
}
#nav li.active a { color: #09735e; }
#content {
  float: right;
  width: 616px;
  padding: 0px 60px 30px 60px;
  background: url("../img/content-bg.png") repeat-y;
}
#footer {
  clear: both;
  float: left;
}
h3 {
  font-size: 140%;
  color: #000000;
}
p {
  line-height: 1.6;
  margin: 1em 0;
}
p:first-child { margin-top: 0; }
.gallery {
  position: relative;
  width: 650px;
  height: 462px;
}
.gallery .photo {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery img {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -op-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.gallery .caption {
  position: absolute;
  left: -230px;
  bottom: 40px;
  width: 150px;
  text-align: right;
  font-size: 80%;
  line-height: 1.5;
}
.gallery .gallery-nav {
  position: absolute;
  left: -230px;
  bottom: 0;
  width: 150px;
  text-align: right;
  font-size: 250%;
  line-height: 0.6;
}
.gallery .gallery-nav a:focus { outline: 0; }
