{% load cache i18n compress navbar %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title-outer %}{{ site.name }}: {% block title %}{% endblock %}{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen.less" />
    {% block extra_styles %}{% endblock %}
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
    {% block extra_scripts %}{% endblock %}
    {% endcompress %}
    <link rel="icon" href="{{ MEDIA_URL }}img/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.png" type="image/png" />
</head>

<body{% block body_attr %} class="{% block body_class %}{% endblock %}"{% endblock %}>
    <div id="page">
        
        <div id="header">
            <div id="title">
                <h1>Büro Wilhelmstraße</h1>
                <h2>Büroetage mit fünf Räumen gegenüber Amts- und Landgericht</h2>
            </div>
        </div>

        <div id="nav">
            {% navbar %}
        </div>
        
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        
        <div id="footer"></div>
    </div>
    
    
    {% if not debug %}
    {% if GOOGLE_ANALYTICS_ID %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS_ID }}");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    {% endif %}
    {% endif %}
</body>

</html>
