{% extends "flatpages/default.html" %}

{% block content %}
    {{ block.super }}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA6ygCBBg7_KkUnD-Dm0ZDVRR-yPxwAAormN5_qoQJ408AI-sHyRRpApZI0c7-LZOjIU7Yj392cpVlMg&amp;sensor=true" type="text/javascript"></script>
    <script type="text/javascript">
        function initialize() {
          if (GBrowserIsCompatible()) {
            var map = new GMap2(document.getElementById("map_canvas"), {'size': new GSize(616,400)});
            var point = new GLatLng(50.738068,7.098065);
            var marker = new GMarker(point);
            map.addOverlay(marker);
            map.setCenter(point, 16);
            var defaultUI = map.getDefaultUI();
            map.setUI(defaultUI);
          }
        }
        window.addEventListener('load', initialize, false);
    </script>
    <div id="map_canvas" style="width: 616px; height: 400px"></div>
    
{% endblock %}
